html{height: 100%;}

body{
  font-family: 'Josefin Sans', sans-serif;
  background: white;
  padding: 0;
  margin: 0;
  color: #141414;
}

a{
  text-decoration: none;
  color: #141414;
}
a:hover{
  text-decoration: underline;
}

.header{
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: left;
  background-color: white;
  background-size: 2000% 2000%;
  animation: gradient 60s ease infinite;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
  transition: .2s;
  padding-left: 12%;
}
.header a{
  padding: 27px 20px;
  transition: .3s;
}

.logo{
 font-weight: 700 !important;
 font-size: 2.5rem !important;
 font-family: 'Montserrat Alternates', sans-serif;
 width: 200px !important;
 padding: 10px 40px 0 20px !important;
}

.content{
  padding-top: 100px;
}
.row-1,
.row{
  display: flex;
  justify-content: left;
  height: 250px;
}
.row{
  padding: 10px 10%;
  border-top: dashed 1px grey;
}
.row-1{
  padding: 10px 15%;
}

.desc-icons{
  display: flex;
  justify-content:  center;
  align-items: center

}
.desc-icons img{
  width: 130px;
  height: 130px;
  margin: 0px 30px 20px;
}

.home-desc{
  text-align: left;
  margin: auto;
  width: 100%;
  font-family:  'Montserrat Alternates', sans-serif;
  display: block;
  font-size: 2.2em;
  font-weight: 600;
  margin: 65px 20px 20px;
}
.home-desc span{
  text-decoration: underline;
  transition: .2s;
}
.home-desc span:hover{
  font-size: 1.1em;
}
.desc2{
  width: 50%;
  padding: 20px 5% 20px;
}
.desc2:nth-child(2){
  border-left: 1px dashed grey;
  padding-left: 7%;

}

.docs-container{
  padding: 10px 15%;
}

.footer{
  border-top: dashed 1px grey;
  text-align: center;
  padding: 30px 20px;
  position: relative;
  display: block;
  bottom: 0;
  font-size: .8em;
  font-weight: 600;
  margin: 5px auto;
  font-family:  'Montserrat Alternates', sans-serif;
}
