html{
   height: 100%;}
body{
  font-family: 'Josefin Sans', sans-serif;
  background: white;
  padding: 0;
  margin: 0;
  color: #141414;
}

.header{
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(-25deg,#1c0022,#2d67b6,#1c0022,#ff003d,#1c0022,#0a9c4c,#1c0022);
  background-size: 2000% 2000%;
  animation: gradient 60s ease infinite;
  color: white !important;
  box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.5);
  transition: .2s;
}
.header a{
  color: white;
  text-decoration: none;
  padding: 27px 20px;
}
.header a:hover{
  color: rgb(222, 223, 168);
  transition: .3s;
}

@keyframes gradient {
	0% {
		background-position: 50deg 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: -150deg 0% 50%;
	}
}

#logo-img{
  height: 55px;
  width: 55px;
  padding-right: 20px;
  margin: 10px 0;
  transition: .3s;
}
#logo{
 font-weight: 700 !important;
 font-size: 2.5rem !important;
 font-family: 'Montserrat Alternates', sans-serif;
 width: 200px !important;
 padding: 10px 40px 0 20px;
 background: linear-gradient(45deg, white 50%,#ffff00 , #ff0042,#009cff,#4aff00,white, #3b002c);
 background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.8s ease-out;
}
#logo:hover {
 background-position: -200%;
}

.content{
  padding-top: 100px;
}

.home-row{
  display: flex;
  justify-content: left;
  height: 250px;
  padding: 10px 7%;
}
.home-row div{
  margin: 5%;
}
.desc-icons{
  display: flex;
  justify-content:  center;
  align-items: center

}
.desc-icons img{
  width: 130px;
  height: 130px;
  margin: 0px 30px 20px;
}
.home-desc{
  text-align: left;
  margin: auto;
  width: 100%;
  font-family:  'Montserrat Alternates', sans-serif;
  display: block;
  font-size: 2.2em;
  font-weight: 600;
}

.docs-container{
  padding: 10px 5%;
}

.footer{
  border-top: 1px solid gray;
  text-align: center;
  padding: 30px 20px;
  position: relative;
  display: block;
  bottom: 0;
  font-size: .8em;
  font-weight: 600;
  margin: 5px auto;
  font-family:  'Montserrat Alternates', sans-serif;
}
